/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #1A1A1A;
}

header {
  position: relative;
  text-align: center;
}

nav {
  position: fixed;
  max-height: 60px;
  min-width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

#nav-logo {
  width: 125px;
  margin: 10px 22px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 15px;
}
nav li {
  margin: 0px 8px;
  font-size: 0.9rem
}

#landing {
  height: 510px;
}

header section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  color: #FFF;
  height: 510px;
}

header section h1 {
  font-size: 2.8rem;
  min-width: 500px;
  margin-bottom: 25px;
}

article h2 {
  text-align: center;
  margin: 30px;
  font-size: 1.2rem;
  text-decoration: 2px underline #00B172;
  text-underline-offset: 5px;
}

article div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 70px
}

article div img {
  height: 60px;
}

article div section h3 {
  color: #00B172;
  margin-bottom: 20px;
  margin-top: 10px;
}

article div section p {
  max-width: 180px;
  font-weight: lighter;
}

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 450px;
  background-color: #00B172;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

footer article {
  color: #FFF;
}

#icon {
  position: absolute;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app {
  width: 190px;
  margin-left: 30px;
}

footer article h2 {
  font-size: 1.3rem;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 6px;
  margin-bottom: 35px;
  margin-left: 60px;
  margin-top: 10px;
}

footer article section {
  margin: 20px 60px;
}

footer h3 {
  font-size: 1rem;
  margin-bottom: 20px;
}

footer p {
  width: 190px;
  font-size: 0.8rem;
  line-height: 1.2rem;
}